# generating folders

## log folder, saved tensorboard and text log
logs_*

saves_*


# pycache
__pycache__

# spyder project initial
.spyproject

# privacy

# dataset/utils4data/cfgs.py

dataset/source/AUGM*

dataset/data/*

# ignored old versions

# old

pretrain_weights