# generating folders
## log folder, saved tensorboard and text log
logs
saves
outputs

# pycache
__pycache__

# spyder project initial
.spyproject

# custom dataset
dataset/UM*
dataset/*.txt

# ignored old versions
old
